

@import url(https://db.onlinewebfonts.com/c/d5887716b1014cf921b052756b6423ee?family=Worthbites+-+Rough);

@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);

html{
    overflow-x: hidden;
    
}
body{
     margin: 0px;
    padding: 0px;
}
/* =========================Nav Starts=========================== */
 
 label[for="inputbox"]
 {
    display: none;
 }

#nav{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* border: 2px solid black; */
    overflow-x: hidden;

}
#nav li{
    list-style-type: none;
}

#nav li  #nav1{
    font-size: 20px;
    font-family: "Roboto Condensed";
    font-weight: 600;
      /* border: 2px solid black; */
      display: flex;
      margin-right: 100px;  

}
#nav1 li{
    list-style-type: none;
      /* border: 2px solid black; */
       padding: 20px;

}
#nav1 li a{
    text-decoration: none;
    color: black;
    

}

   
#nav #nav2 a img{
    width: 60px;
      /* border: 2px solid black; */
    
   

}
#nav3 {
     font-size: 20px;
    display: flex;
      /* border: 2px solid black; */
      margin-left: 250px;
     

  

}
#nav3 li a{
    padding: 15px;
    color: black;

}
#nav3 #pers,#hear,#cros{
    display: inline-block;

}
#bars{
    display: block;
}


@media(max-width:1041px){

    

    #nav li #nav1{
        font-size: 18px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-right: 0px;
        padding: 0px;
       
    }
   
    #nav #nav2 a img{
        width: 60px;
        padding-left: 80px;
    }
    #nav3{
        margin-left: 140px;
        /* display: block; */
    }
}
@media(max-width:769px){
    label[for="inputbox"]
    {
        font-size: 20px;
       display: block;
       /* display: inline; */
       float: left;
       padding-left: 40px;
       padding-top: 15px;

       
     
     /* border: 2px solid red; */
    }
    #inputbox:checked~#nav li  #nav1{
        display: block;
    }
    /* #inputbox::before #nav li  #nav1{
        transition: top .2s ease .22s, opacity .2s ease, width .2s ease;
    } */


    #nav{
        justify-content: space-evenly;
    }
    #nav li  #nav1{
        display: none;
    }
    #nav #nav2 a img{
        width: 45px;
        padding: 0px;
     /* border: 2px solid red; */
     padding-left: 180px;

    }
    #nav3 #pers,#hear,#cros{
        display: none;
       
    }
    /* #nav3{
        display: block;
    } */

}
@media(max-width:426px){
    label[for="inputbox"]
    {
        font-size: 20px;
       display: block;
       float: left;
       padding-left: 40px;
       padding-top: 15px;
     /* border: 2px solid red; */
    }

    #inputbox:checked~#nav li  #nav1{
    display: block;
     }
     #nav #nav2 a img{
        width: 45px;
        padding: 0px;
     /* border: 2px solid red; */
     padding-left: 50px;

    }
    #nav3{
        margin-left: 0px;

    }
    #nav3 #pers,#hear,#cros{
        display: none;
       
    }

    

}

/* =================Nav Bar ends=========================== */
/* ==================Hero Section Starts========================= */
#hero{
    background-image: url(./MMimages/newPMultiP/1_b.webp);
    background-size: cover; 
    /* width: 100%; */
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
 
    overflow-x: hidden;
}
#hero div{
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
    font-family: "Worthbites - Rough";
    color: #ffffff;
    display: block;
}
#hero{
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    /* display: block; */
}
#hero  #or_btn{
    padding: 10px 32px 10px 32px;
     background-color: #d22727;
     border:  1px solid #d22727;
      align-content: center;
      margin-left: 540px;
      margin-top: 30px;
      display: block;
      cursor: pointer;
      transition: all 0.5s;
       
}
#hero  #or_btn:hover{
    transform: scale(1.1);
}

#hero  #or_btn a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 500;
   
   
}
#pizz{
    display: none;
   
}
#pizz div{
    font-size: 100px;
    text-align: center;
    font-family: "Worthbites - Rough";
    color: black;
    display: none;
  
}
#pizz button{
    padding: 10px 32px 10px 32px;
    background-color: #d22727;
    border:  1px solid #d22727;
     align-content: center;
     /* margin-left: 90px; */
     margin-top: 30px;
     display: none;
     cursor: pointer;
     transition: all 25s;
}
#pizz button a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 500;
    display: none;
    /* text-decoration: underline; */

}
#pizz button:hover{
    transform: scale(1.1);
}




@media(max-width:1041px){
    #hero button{
        margin-left: 450px;

    }
}

@media(max-width:769px){
    #hero{
        background-image: url(./MMimages/newPMultiP/1_b.webp);
        background-size: cover; 
        width: 100%;
        height: 100%;
       
        
        /* object-fit: cover; 
         background-position: center; 
         background-repeat: no-repeat; */
    
    }
    #hero div{
        font-size: 70px;
       /* border: 2px solid orange; */
       padding-top: 60px;
       padding-bottom: 40px;


    }
    #hero button{
       margin-bottom: 60px;
       margin-top: 0px;
       margin-left: 330px;
      

    }
    
}
@media(max-width:426px){
    #hero{
        background-image: url(./MMimages/newPMultiP/bg_square.webp);
        background-size: cover; 
        width: 100%;
        height: 65vh;
        display: block;
        
    }

    #hero div{
        /* display: none; */
        font-size: 0px;

    }
    #hero button{
        display: none;   
    }
    #pizz{
        display: block;
        text-decoration: none;
       
    }
    #pizz div{
        font-size: 60px;
        text-align: center;
        padding-top: 20px;
        font-family: "Worthbites - Rough";
        color:black;
        display: block;
      
       
    }
    #pizz button{
        display: block;
        margin-left: 140px;
    }
    #pizz button a{
        display: block;
    }

}
@media(max-width:376px){
    #pizz button{
        display: block;
        margin-left: 120px;
    }
    #pizz button a{
        display: block;

    }


}
/* ======================Hero section ends============================ */
/* =========================About us==================================== */
#about{
    display: grid;
     grid-template-columns: auto auto auto;
     
}

#ab_img1{  
    height: 100%;
    padding-top: 55px;
    /* border: 2px solid rgb(34, 27, 27); */

}
#ab_img1 img{
    /* border: 2px solid rgb(34, 27, 27); */
    padding-left: 80px;
    width: 267px;
    margin-right: -50px;
}

#ab_img2{
    height: 100%;
    padding: 55px 0px 0px;
    /* border: 2px solid rgb(34, 27, 27); */
    margin-right: 10px;

}
#ab_img2 img{
    width: 267px;
}

#about_2{
    /* border: 2px solid rgb(34, 27, 27); */
   align-content: center;
   padding-top: 45px;
  
}
#about_2 #our{
  font-family: "Roboto Condensed" ;
 color: #d22727;
 font-weight: 600;

}
#about_2 #real{
    font-family: "Worthbites - Rough";
    color: black;
    font-size: 80px;

}
#about_2 p{
    font-family: "Roboto Condensed" ;
    font-size: 19px;
    color: black;
  
}
#about_2 button{

 padding: 10px 32px 10px 32px;
    background-color: #d22727;
    border:  1px solid #d22727;
    cursor: pointer;
    box-shadow: 0 0 10px  rgba(0,0,0,0.1);
    transition: all 0.25s;
}
#about_2 button a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 500;

}
#about_2 button:hover {
    box-shadow: 0 0 10px  rgba(0,0,0,0.5);
    transform: scale(1.1);
    text-transform: none;
    border:  1px solid #d22727;
}

/* <!-- ==========================Customer favorites================================= --> */
#customer_fav_1{
 text-align: center;
 padding-top: 50px;
}
#customer_fav_1 #gd_t{
    font-family: "Roboto Condensed" ;
    color: #d22727;
    font-weight: 600;
}
#customer_fav_1 #fav{
    font-family: "Worthbites - Rough";
    color: black;
    font-size: 60px;
    padding: 30px;
}
#customer_fav_2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* margin: 40px; */
    margin-left: 70px;
    margin-right: 70px;
    /* border: 2px solid yellow; */
}
#c_f1{
    text-align: center; 

}
#c_f1 #img1{
    /* border: 2px solid black; */
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
#c_f1 #img1 img:hover{
    scale: 1.1;
    transition: 0.8s;
}


#c_f1 div a{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
    /* border: 2px solid black; */
 
}
#c_f1 #r1{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
    
}
#c_f1 #G_R_1{
    /* border: 2px solid black; */
    padding-right: 40px;

}
#c_f1 a img{
    width: 253px;  
    /* padding: -20px; */
    /* border: 2px solid black; */

}
#c_f2{
    text-align: center;
}
#c_f2 #img2{
    /* border: 2px solid black; */
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
#c_f2 #img2 img:hover{
    scale: 1.1;
    transition: 0.8s;
}

#c_f2 div a{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
   
}
#c_f2 #r2{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;   
}

#c_f2 a img{
    width: 253px;
}
#c_f3{
    text-align: center;
}
#c_f3 #img3{
    /* border: 2px solid black; */
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
#c_f3 #img3 img:hover{
    scale: 1.1;
    transition: 0.8s;
}

#c_f3 div a{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
   
}
#c_f3 #r3{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
    
}
#c_f3 a img{
    width: 253px;
}
#c_f4{
    text-align: center;
    /* border: 2px solid red; */
    /* padding-top: 20px; */
}
#c_f4 #img4{
    /* border: 2px solid black; */
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
#c_f4 #img4 img:hover{
    scale: 1.1;
    transition: 0.8s;
}
#c_f4 #G_R_4{
    /* border: 2px solid black; */
    margin: -12px;
  

}

#c_f4 div a{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
   
}
#c_f4 #r4{
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    padding: 10px;
    
}
#c_f4 div{
    padding-top: 4px;
}
#c_f4 a img{
    width: 253px;
    /* border: 2px solid red; */
   
}
 /*  ================================View Menu start============================================= --> */
#view_menu {
    background-image: url(./MMimages/view_img.webp);
    height: 428px;
    width: 1349px;
    background-repeat: no-repeat;
    background-size: 100% 450px;
    /* max-width: 1810px; */
    padding: 100px 50px 100px 50px;
    background-position: center;
}
#v_m{
    text-align: center;
     padding-top: 20px;
    /* border: 2px solid red; */
    margin-left: -100px ; 
}
#v_m #slice img{
    width: 64px;
    padding-top: 30px;
}
#v_m #eat{
    padding: 30px;
    font-family: "Worthbites - Rough";
    color: #ffffff;
    font-size: 100px;
    /* padding: 30px; */
}
#v_m #v_btn{
    padding: 10px 32px 10px 32px;
    background-color: #d22727;
    border:  1px solid #d22727;
    cursor: pointer;
    transition: all 1s;

}
#v_m #v_btn a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 500;
}
#v_m #v_btn:hover{
    transform: scale(1.2);
}
/* ==============================View Menu ends======================================== */
/* ================================Week Pizza starts============================================ */

#week_p_1{
    text-align: center;
    /* padding-top: 50px; */
   }
   #week_p_1 #w_gd{
       font-family: "Roboto Condensed" ;
       color: #d22727;
       font-weight: 600;
   }
   #week_p_1 #w_week{
       font-family: "Worthbites - Rough";
       color: black;
       font-size: 60px;
       padding: 30px;
   }
   #week_p_2 {
       display: grid;
       grid-template-columns: auto auto auto auto;
       /* margin: 40px; */
       margin-left: 70px;
       margin-right: 70px;
       /* border: 2px solid yellow; */
   }
   #w_f1{
       text-align: center; 
   
   }
   #w_f1 #imgs1{
       /* border: 2px solid black; */
       width: 300px;
       height: 250px;
       overflow: hidden;
       /* margin-bottom: 10px; */
   }
   #w_f1 #imgs1 img:hover{
       scale: 1.1;
       transition: 0.8s;
   }
   
   
   #w_f1 div a{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
       /* border: 2px solid black; */
    
   }
   #w_f1 #r_1{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
       
   }
   #w_f1 #p_p_1{
       /* border: 2px solid black; */
       padding-top: 10px;
   
   }
   #w_f1 a img{
       width: 253px;  
       /* padding: -20px; */
       /* border: 2px solid black; */
   
   }
   #w_f2{
       text-align: center;
   }
   #w_f2 #imgs2{
       /* border: 2px solid black; */
       width: 300px;
       height: 250px;
       overflow: hidden;
       margin-bottom: 10px;
   }
   #w_f2 #imgs2 img:hover{
       scale: 1.1;
       transition: 0.8s;
   }
   
   #w_f2 div a{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
      
   }
   #w_f2 #r_2{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;   
   }
   
   #w_f2 a img{
       width: 253px;
   }
   #w_f3{
       text-align: center;
   }
   #w_f3 #imgs3{
       /* border: 2px solid black; */
       width: 300px;
       height: 250px;
       overflow: hidden;
       margin-bottom: 10px;
   }
   #w_f3 #imgs3 img:hover{
       scale: 1.1;
       transition: 0.8s;
   }
   
   #w_f3 div a{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
      
   }
   #w_f3 #r_3{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
       
   }
   #w_f3 a img{
       width: 253px;
   }
   #w_f4{
       text-align: center;
       /* border: 2px solid red; */
       /* padding-top: 20px; */
   }
   #w_f4 #imgs4{
       /* border: 2px solid black; */
       width: 300px;
       height: 250px;
       overflow: hidden;
       margin-bottom: 10px;
   }
   #w_f4 #imgs4 img:hover{
       scale: 1.1;
       transition: 0.8s;
   }
   #w_f4 #p_p_4{
       /* border: 2px solid black; */
       margin: -12px;
     
   
   }
   
   #w_f4 div a{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
      
   }
   #w_f4 #r_4{
       text-decoration: none;
       color: black;
       font-family: "Roboto Condensed" ;
       font-weight: 600;
       padding: 10px;
       
   }
   #w_f4 #p_p_4{
       padding-top: 9px;
   }
   #w_f4 a img{
       width: 253px;
       /* border: 2px solid red; */
   }
   /* =================================Week Pizza ends======================================== */
   /* ================================Promotion starts=================================== */
     
 #promo{
        display: flex;
        /* justify-content: space-between; */
        padding: 80px 95px 80px 95px;
     }
 #promo_1{
        /* border: 2px solid black; */
        /* padding: 50px; */
        padding: 0px 50px 0px 50px;
        height: 368px;
        width: 629px;
      
     }
 #promo_1 #promo_1_1{
        /* border: 2px solid red; */
        height: 315px;
        width: 509px;
      
      

     }
 #promo_1_1 #pro{
        font-family: "Roboto Condensed" ;
        color: #d22727;
         font-weight: 600;
         padding: 10px 0px 10px 0px;
     }

 #promo_1_1 #buy{
     font-family: "Worthbites - Rough";
     color: black;
     font-size: 60px;
     padding: 10px 0px 10px 0px;
     }
     
#promo_1_1 p{
     font-family: "Roboto Condensed" ;
     font-size: 18px;
     color: black;
     padding: 10px 0px 10px 0px;
     /* line-height: 20px; */
     }
#promo_1_1 button{
        padding: 10px 32px 10px 32px;
        margin-top: 20px;
    background-color: #d22727;
    border:  1px solid #d22727;
    cursor: pointer;
    box-shadow: 0 0 10px  rgba(0,0,0,0.1);
    transition: all 0.25s;
}
#promo_1_1 button a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 500;

}
#promo_1_1 button:hover {
    box-shadow: 0 0 10px  rgba(0,0,0,0.5);
    transform: scale(1.1);
    text-transform: none;
    border:  1px solid #d22727;
}
#promo #pro_img{
    /* border: 2px solid pink; */
    height: 368.609px;
    width: 629px;
    padding: 0px 50px 0px 50px;
}
#promo #pro_img img{
    /* border: 2px solid blueviolet; */

    height: 368px;
    width: 529px;
}
/* ================================================Promotion ends================================= */
 /*=======================================================Services starts==========================================  */

#service{
    display: flex;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 20px;
    /* align-content: center; */
    /* text-align: center; */
}
#ser_1{
    display: flex;
}
#ser_1 #s_img1{
    padding: 10px;
}

#ser_1 #ser_1_1 {
    /* margin: 70px; */
    padding: 10px;
}
#ser_1 #ser_1_1 #fast{
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    margin-bottom: 10px;
   
}
#ser_1 #ser_1_1 #ship{
    color: black;
    font-family: "Roboto Condensed" ;
    width: 207px;
}

#ser_2{
    display: flex;
}
#ser_2 #s_img2{
    padding: 10px;
}
#ser_2 #ser_2_2 {
    /* margin: 70px; */
    padding: 10px;
}
#ser_2 #ser_2_2 #pick{
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    margin-bottom: 10px;
   
}
#ser_2 #ser_2_2 #within{
    color: black;
    font-family: "Roboto Condensed" ;
    width: 207px;
}

#ser_3{
    display: flex;
}
#ser_3 #s_img3{
    padding: 10px;
}
#ser_3 #ser_3_3 {
    /* margin: 70px; */
    padding: 10px;
}
#ser_3 #ser_3_3 #seat{
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    margin-bottom: 10px;
   
}
#ser_3 #ser_3_3 #day{
    color: black;
    font-family: "Roboto Condensed" ;
    width: 207px;
}

#ser_4{
    display: flex;
}
#ser_4 #s_img4{
    padding: 10px;
}
#ser_4 #ser_4_4 {
    /* margin: 70px; */
    padding: 10px;
}
#ser_4 #ser_4_4 #proo{
    color: black;
    font-family: "Roboto Condensed" ;
    font-weight: 600;
    margin-bottom: 10px;
   
}
#ser_4 #ser_4_4 #pay{
    color: black;
    font-family: "Roboto Condensed" ;
    width: 207px;
}

/* <!-- ==================================Services ends=========================================== --> */
/* <!-- ====================================Footer starts======================================================= --> */
#footer{
    background-color: #f7e6e6;
}
#first_f{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    padding-top: 50px;
}
#footer_1 #footer_1_1{
    padding: 10px;
    /* border: 2px solid black; */
}
#footer_1 #footer_1_1 #miss{
    font-family: "Worthbites - Rough";
    color: black;
    font-size: 60px;
    padding: 10px 0px 10px 0px;

}
#footer_1 #footer_1_1 p{
    font-family: "Roboto Condensed" ;
font-size: 16px;
color: black;
padding: 5px 0px 10px 0px;
height: 48px;
width: 340px;
}
#footer_1 #footer_1_1 #input input{
    /* padding: 20px; */
    background-color: #ffffff;
    padding: 12px 20px 12px 20px;
    color: black;
    font-family: "Roboto Condensed" ;
    font-size: 15px;
    border: 2px solid #ffffff;
    


}
#footer_1 #footer_1_1 #input button{
    padding: 15px ;
    height: 44px;
    width: 44px;
    background-color: #d22727;
    border:  1px solid #d22727;
    cursor: pointer;
}
#footer_1 #footer_1_1 #input button i{
    font-size: 15px;
    color: #ffffff;
}

#first_f #footer_2{
    margin: 20px;
}
#first_f #footer_2 #footer_2_2{
    /* padding: 10px; */
    /* border: 2px solid red; */

}
#footer_2 #footer_2_2 #ser{
    font-family: "Roboto Condensed" ;
    font-size: 18px;
    color: black;
    padding: 8px ;
    font-weight: 600;
   
}
#footer_2 #footer_2_2 #p,#r,#s,#t{
    font-family: "Roboto Condensed" ;
    font-size: 16px;
    padding: 8px;

}
#first_f #footer_3{
    margin: 20px;
}
#footer_3 #footer_3_3{

}
#footer_3 #footer_3_3 #comp{
    font-family: "Roboto Condensed" ;
    font-size: 18px;
    color: black;
    padding: 8px ;
    font-weight: 600;
    /* margin-bottom: 10px; */

}
#footer_3 #footer_3_3 #f{
    margin-bottom: 10px;
}
#footer_3 #footer_3_3 #f a{
    color: black;
}
#footer_3 #footer_3_3 #f,#hello{
    font-family: "Roboto Condensed" ;
    font-size: 16px;
    padding: 8px;
}

#first_f #footer_4{
    margin: 20px;
}
#footer_4 #footer_4_4 #social{
    font-family: "Roboto Condensed" ;
    font-size: 18px;
    color: black;
    padding: 8px ;
    font-weight: 600;
}

#footer_4 #footer_4_4 #icon{
    padding: 10px;
}
#footer_4 #footer_4_4 #icon i{
    margin: 10px;
    font-size: 25px;
    color: black;
}

#footer #second_f{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
#second_f #mini{
    padding-left: 80px;
    padding-top: 20px;
    /* margin: 40px; */
    /* border: 2px solid black; */
   
}
#second_f #icon_visa{
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 2px solid rgb(68, 49, 49); */
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;

}
#second_f #icon_visa div{
    padding: 10px;
 
  
  
}
#second_f #icon_visa div img{
    width: 30px;
    background-color: #ffffff;
    padding: 6px;

  
}
@media(max-width:1041px){

   
    #footer_1 #footer_1_1{
        padding: 0px;
        /* border: 2px solid black; */
        margin-left: 40px;
    }







}